*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.mpeg
*.avi
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
output/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# QtCreator Generated #
*.user

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
