// ADD PREDEFINED MACROS HERE!
// Simple run with the dog data
//  detect cfg/yolo.cfg data/yolo.weights data/dog.jpg
// Simple video run
//  detector demo data/coco.data cfg/yolo.cfg data/yolo.weights data/splice.mp4 \
//    -prefix "output/splice_data" -output "output/splice_data" -i -0.25
// Or
//  detector demo data/coco.data cfg/yolo.cfg data/yolo.weights data/video.mp4 \
//    -prefix "output/video_data" -output "output/video_data" -i -0.25

#define OPENCV 1
#define GPU 1
#define DEBUG 1
